/*
 * Reset
 ***********************************************************************************************************************
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * Basics
 ***********************************************************************************************************************
 */

body {
    padding: 0px;
    line-height: 1.1;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h1 small {
    font-size: 15px;
}

.introduction p {
    margin: 15px 0;
}

.section {
    margin-bottom: 20px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

.section-header {
    border-bottom: 1px dashed #000;
    margin-bottom: 10px;
}

.section-header h3 {
    display: inline-block;
}

.section-header small {
    font-size: 12px;
    font-weight: normal;
}

.clear {
    clear: both;
}

.originalString {
    font-style: italic;
    float: left;
    width: 49%;
}

.translatedString {
    float: right;
    width: 50%;
}